
<div  class="container d-flex">
    <div class="row" style="width: 100%;">

        <div class="d-flex col-3">
            <p>Filter:</p> 
            <div class="dropdown margin-10">
                <button class="btn dropdown-toggle myDropDown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Availability &nbsp;
                </button>
                <!-- <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul> -->
              </div>
              <div class="dropdown margin-10">
                <button class="btn dropdown-toggle myDropDown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Price &nbsp;
                </button>
                <!-- <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul> -->
              </div>
        </div>

              <div class="col-6">
              </div>

             <div class="d-flex col-3">
                <p>Sort by:</p>
                <div class="dropdown margin-10">
                    <button class="btn dropdown-toggle myDropDown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Best selling 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                    <!-- <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul> -->
                  </div>
                  <p class="margin-10">{{numOfProducts}} Products</p>
             </div>
               
        </div>
</div>

