*{
margin: 0%;
padding: 0%;
}

.container{
    margin-right: 0%;
    padding-right: 0%; 
    margin-left: 3.5%;
    margin-top: 2%;
    color: #5a5858;
    font-size: 15px;
    font-family: Assistant, sans-serif;
}

.myDropDown{
    color: #000;
    border: none;
    font-size:15px;
    color: #5a5858;
    padding-top: 0%;
    font-size: 15px;
    font-family: Assistant, sans-serif;
}

.margin-10{
    margin-left: 10%;
}