<div style="background-color: antiquewhite;">
    <div class="p-5 pt-0">
        <div class="row m-2 d-flex flex-end p-2">
            <div class="col-8">
                <h2 class="mb-4">Subscribe to our emails</h2>
                <form action="">
            
                    <div style="border: 1px solid;" class=" mb-3 w-50 d-flex">
                        <input type="text"  style="background-color: inherit; border: none; width: 95%;" class=" p-2" placeholder="Email">
                        
                        <button class="w-25 d-flex justify-content-end m-auto" style="background-color: transparent; border: 0; width: 5% ; ">

                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                        
                    </div>
                    

                </form>
            </div>




            <div class="col-4 list-unstyled d-flex justify-content-end align-items-end ">

                <ul class=" list-unstyled d-flex  ">
                    <li>
                        <a href="#"><i class="m-2 fa-brands fa-facebook-f " style="color: black;"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="m-2 fa-brands fa-instagram  " style="color: black;"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="m-2 fa-brands fa-tiktok " style="color: black;"></i></a>
                    </li>
                </ul>
            </div>


        </div>

    </div>
    <div>
        <div class="p-3" style="border-top: 0.001rem solid gray;"></div>
        <div class=" m-auto">
            <p class=" small text-center">&copy; 2024 Sjaal Powered by Shopify</p>
        </div>

    </div>

</div>