<div class="my-bg ">
    <div class="p-5 pt-0">
        <div class="row d-flex flex-end p-2">
            <div class="col-8">
                <h2 class="mb-4">Subscribe to our emails</h2>
                <form action="">
                    <div  class=" my-input my-border mb-3 w-50 d-flex p-3">
                        <input type="text"  style="background-color: inherit; width: 95%;" class=" my-input" placeholder="Email">
                        <button class="w-25 d-flex justify-content-end m-auto" style="background-color: transparent; border: 0; width: 5% ; ">
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                        
                    </div>
                    

                </form>
            </div>

            <div class="col-4 d-flex justify-content-end align-items-end ">
                <ul class=" list-unstyled d-flex  ">
                    <li>
                        <a href="#"><i class="m-2 fa-brands fa-facebook-f " style="color: black;"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="m-2 fa-brands fa-instagram  " style="color: black;"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="m-2 fa-brands fa-tiktok " style="color: black;"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class=" my-bg ">
        <div class="  footer w-100">
            <div class="p-2  m-auto">
                <p class=" mt-5 small text-center">&copy; 2024 Sjaal Powered by Shopify</p>
            </div>

        </div>
    </div>

</div>