<div class="d-flex justify-content-between container all m-3">
    <div class="row mt-5">

        <div class=" col-lg-6 left-section">
            <div class="clickedImageDiv">
                <img src="{{clickedImage}}" alt="clickedProductImage" class="img-fluid" id="clickedImage">
            </div>

            <div style="height: 30%;">
                <ul class="list-unstyled">
                    @for (image of product.images; track $index) {
                    <li [ngClass]="{'selected': clickedImage === image}">
                        <img src="{{image}}" alt="productImage" (click)="changeImage(image)">
                    </li>
                    }
                </ul>
            </div>

        </div>

        <div class="col-lg-6 right-section">
            <!-- <p>SJAAL</p> -->
            <h1>{{product.name}}</h1>
            <p>{{product.price | customCurrency:"EGP"}}</p>
            <div>
                <label>Size</label>
                <div>
                    @for (size of product.availableSizes; track $index) {
                    <button class="btn btn-outline-dark m-1 rounded-pill" [ngClass]="{'btn-dark': choosenSize === size}"
                        (click)="chooseSize(size)">{{size}}</button>
                    }
                </div>
            </div>

            <div>
                <label for="">Quantity</label>
                <div class="quantity">
                    @if (desiredQuantity()>0) {
                    <input type="button" value="-" (click)="decrease()">
                    }
                    <span>{{desiredQuantity()}}</span>
                    <input type="button" value="+" (click)="increase()">
                </div>
            </div>

            <div class="buttons d-flex">
                <button (click)="addToCart()" type="button" class="btn" id="addToCart" >Add to cart</button>
                <button type="button" class="btn" id="buyItNow">Buy it now</button>
            </div>
            <div>
                <p>{{product.description}}</p>
            </div>
            <div class="d-flex">
                <i class="bi bi-upload m-1"></i>

                <span class="m-1">Share</span>
            </div>
            <div class="feedback">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
        </div>
    </div>
</div>

<div class="m-3">
    <!-- You may also like component-->
    <h2>You May Also Like</h2>
    <app-recommendation  class="youMayAlsoLike"></app-recommendation>
</div>