/* You can add global styles to this file, and also import other style files */

/* .my-input:focus {
    border: none;
    outline: none;
    
} */
.my-input{
   
    border: none;
    outline: none;

    
}
.my-border{
    border: 1px solid black;
}
.my-bg{
    background-color: rgba(207,192,174,1);
}
