<div class="container">
  <div class="row">
    <div>
      <form [formGroup]="checkoutData">
        <div class="form" style="margin-top: 5%;">
          <div class="form-group m-auto">
            <h5>Contact</h5>
            <input class="form-control" type="text" placeholder="Email or mobile phone number" formControlName="email">

            <div class="d-flex mt-3">
              <input style="border-color: rgb(185, 182, 182);height: 20px;margin-right: 10px;
                          width: 16px;border-radius: 10%;" type="checkbox" formControlName="notifyMe">
              <p style="font-size: 14px">Email me with news and offers</p>
            </div>

            <h5 class="mt-3">Delivery</h5>
            <div class="form-floating">
              <select class="form-select me-2" id="floatingSelect" aria-label="Floating label select example"
                formControlName="country">
                <option value="Egypt">Egypt</option>
              </select>
              <label for="floatingSelect">Country/Region</label>
            </div>

            <div class="d-flex mt-2">
              <input class="form-control me-2 nameInput" type="text" placeholder="First name" formControlName="fName">
              <input class="form-control nameInput" type="text" placeholder="Last name" formControlName="lName">
            </div>

            <input class="form-control mt-2" type="text" placeholder="Address" formControlName="address">

            <input class="form-control mt-2" type="text" placeholder="Apartment, suite, etc. (optional)"
              formControlName="apartment">

            <div class="d-flex mt-2" style="width: 96%">
              <input class="form-control me-2 " style="height: 57px;" type="text" placeholder="city"
                formControlName="city">
              <div class="form-floating col-5">
                <select class="form-select me-2" id="floatingSelect" aria-label="Floating label select example"
                  formControlName="governorate">
                  @for (item of selectionArr; track item.value) {
                  <option value="{{item.value}}">{{item.option}}</option>
                  }
                </select>
                <label for="floatingSelect">Governorate</label>
              </div>
              <input class="form-control me-2 " style="height: 57px;" type="text" placeholder="Postal code"
                formControlName="pCode">
            </div>

            <input class="form-control mt-2" type="text" placeholder="Phone" formControlName="phone">

            <div class="d-flex mt-3">
              <input style="border-color: rgb(185, 182, 182);height: 20px;margin-right: 10px;
                          width: 16px;border-radius: 10%;" type="checkbox" formControlName="nextTime">
              <p style="font-size: 14px">Save this information for next time</p>
            </div>

            <h6 class="mt-3">Shipping method</h6>
            @for (item of shippingMethodArr; track item.id) {
            <div [appCheckout]="{color:'#1773b0',bgcolor:'#f0f5ff'}" id="ShippingMethod" class="row"
              (click)="click($event, item.price)">
              <div class="form-check col-3">
                <input style="width: 17px;height: 17px;" name="shippingCity" class="form-check-input" type="radio"
                  id="{{item.id}}" value="{{item.value}}" formControlName="shippingCity">
                <label class="form-check-label" for="{{item.id}}">
                  &nbsp;{{item.value}}
                </label>
              </div>
              <div class="col-7">
              </div>
              <div class="col-2">
                {{item.price|currency:"E£"}}
              </div>
            </div>
            }
            <h5 class="mt-5">Payment</h5>
            <p style="color: rgb(155, 150, 150);font-weight: 300;">All transactions are secure and encrypted.</p>
          </div>

          <div
            style="height: 60px;border: 1px solid #1773b0;background-color:#f0f5ff ;padding: 15px;border-radius:5px;box-sizing: border-box;">
            Cash on Delivery (COD)
          </div>

          <h6 class="mt-5">Billing address</h6>
          <div [appCheckout]="{color:'#1773b0',bgcolor:'#f0f5ff'}" id="BillingAddress" class="row"
            (click)="click($event)">
            <div class="form-check">
              <input style="width: 17px;height: 17px;" class="form-check-input" type="radio" id="billing1"
                value="Same as shipping address" formControlName="sameAddress">
              <label class="form-check-label" for="billing1">
                &nbsp;Same as shipping address
              </label>
            </div>
          </div>
          <div [appCheckout]="{color:'#1773b0',bgcolor:'#f0f5ff'}" id="BillingAddress2" class="row"
            (click)="click($event)">
            <div class="form-check">
              <input style="width: 17px;height: 17px;" class="form-check-input" type="radio" id="billing2"
                value="Use a different billing address">
              <label class="form-check-label" for="billing2">
                &nbsp;Use a different billing address
              </label>
            </div>
          </div>

          <div class="form-group m-auto mt-4 text-center">
            <input class="btn mb-5"
              style="background-color: #1773b0;border-radius: 5px;font-weight: 500;color: white;font-size: 20px;"
              type="submit" value="Complete order" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
          </div>

          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true"
            style="height: 70%;">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body text-center" style="color: green;font-weight: bold;">
                  Your order has been completed successfully &#8730;
                </div>
                <div class="modal-footer">
                  <button  routerLink="/"
                    (click)="removeCartProducts()"
                    type="button" class="btn"
                    style="background-color: #1773b0;width: 100%;color: white;font-weight: bold;" data-bs-dismiss="modal">OK</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>

  </div>
</div>



<!-- <div class="form-group m-auto mt-4 text-center">
  <input class="btn mb-5"
    style="background-color: #1773b0;border-radius: 5px;font-weight: 500;color: white;font-size: 20px;" type="button"
    value="Complete order" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true" style="height: 70%;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center" style="color: green;font-weight: bold;">
        Your order has been completed successfully &#8730;
      </div>
      <div class="modal-footer">
        <button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/" type="button"
          class="btn" style="background-color: #1773b0;width: 100%;color: white;font-weight: bold;">OK</button>
      </div>
    </div>
  </div>
</div> -->