
<div class="bottom-right-title">
    <h6 style="position: absolute;right: 20px;font-family: 'Proza Libre', sans-serif;font-size: 18px;font-weight: lighter; ">Subtotal <span style="font-size: 15px; font-weight: lighter;opacity: 0.8;" class="m-2"> {{ subtotal|   customCurrency:"EGP" }}</span></h6><br><br>
    <p  style="font-size: 13px; font-weight:lighter; font-family: 'Proza Libre', sans-serif; position: absolute;right: 10px;opacity: 0.8; " >Taxes and shipping calculated at checkout</p><br><br>
   
    <button type="submit" style="  width: 350px;height: 50px;" class="button" appEnlarge > Check out </button><br><br><br>
  
  </div>
  
